[user]
	name = David Cantrell
	email = david.l.cantrell@gmail.com
	signingkey = 62977BB9C841B965
[format]
	subjectprefix = PATCH
[color]
	diff = auto
	status = auto
	branch = auto
[apply]
	whitespace = strip
[merge]
	summary = 1
	tool = meld
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
	addw = !sh -c 'git diff -U0 --ignore-space-change --no-color "$@" | git apply --cached --ignore-space-change --unidiff-zero' -
[push]
	default = tracking
[rebase]
	stat = true
[branch]
	autosetuprebase = always
[core]
	editor = emacs -nw
	excludesfile = /home/dcantrell/.gitignore_global
[pull]
	rebase = true
[init]
	templateDir = ~/.git_template
	defaultBranch = main
[safe]
	directory = /home/dcantrell/scm/github.com/rpminspect/rpminspect
	directory = /home/dcantrell/scm/github.com/dcantrell/rpminspect
	directory = /home/dcantrell/scm/github.com/rpminspect/rpminspect-data-fedora
