! urxvt settings
URxvt.title:                 urxvt
URxvt.background:            black
URxvt.foreground:            white
URxvt.font:                  xft:Terminus
URxvt.scrollstyle:           next
URxvt.scrollBar_right:       true
URxvt.perl-ext-common:       default,matcher
!URxvt.urlLauncher:           /usr/bin/firefox
URxvt.matcher.button:        1
URxvt.urgentOnBell:          true
URxvt.imLocale:              en_US.UTF-8
URxvt.cursorBlink:           true
URxvt.cursorUnderline:       true
URxvt.skipBuiltinGlyphs:     false
!URxvt.keysym.C-Delete:       perl:matcher:last
!URxvt.keysym.M-Delete:       perl:matcher:list

! xterm settings
XTerm.vt100.background:      black
XTerm.vt100.foreground:      white
XTerm.vt100.bellIsUrgent:    true
XTerm.vt100.cursorBlink:     true
XTerm.vt100.cursorUnderLine: true
XTerm.vt100.font:            xft:Terminus
XTerm.vt100.faceName:        xft:Terminus
XTerm.vt100.faceSize:        10
XTerm.vt100.locale:          true
XTerm.vt100.scrollBar:       true
XTerm.vt100.rightScrollBar:  true

! xlockmore settings
XLock.mode:                  blank
