! xterm configuration
XTerm.termName:                xterm-256color
XTerm.ttyModes:                erase ^?
XTerm.vt100.locale:            true
XTerm.vt100.utf8:              true
XTerm.vt100.metaSendsEscape:   true
XTerm.vt100.backarrowKey:      false
XTerm.vt100.saveLines:         4096
XTerm.vt100.scrollBar:         false
XTerm.vt100.foreground:        white
XTerm.vt100.background:        black
XTerm.vt100.visualbell:        false
XTerm.vt100.bellIsUrgent:      true
XTerm.vt100.fullscreen:        never
XTerm.vt100.faceName:          Hack:style=Regular:size=14
XTerm*pointerColor:            white
XTerm*pointerColorBackground:  black
XTerm*cursorColor:             yellow
XTerm*cursorBlink:             true

! uxterm configuration (same as xterm, but launched with the 'uxterm' script)
UXTerm.termName:               xterm-256color
UXTerm.ttyModes:               erase ^?
UXTerm.vt100.locale:           true
UXTerm.vt100.utf8:             true
UXTerm.vt100.metaSendsEscape:  true
UXTerm.vt100.backarrowKey:     false
UXTerm.vt100.saveLines:        4096
UXTerm.vt100.scrollBar:        false
UXTerm.vt100.foreground:       white
UXTerm.vt100.background:       black
UXTerm.vt100.visualbell:       false
UXTerm.vt100.bellIsUrgent:     true
UXTerm.vt100.fullscreen:       never
UXTerm.vt100.faceName:         Hack:style=Regular:size=14
UXTerm*pointerColor:           white
UXTerm*pointerColorBackground: black
UXTerm*cursorColor:            yellow
UXTerm*cursorBlink:            true

! rxvt-unicode customizations
URxvt*background:         black
URxvt*foreground:         white
URxvt*font:               xft:Hack:style=Regular:size=14
URxvt*scrollStyle:        next
URxvt*scrollBar_right:    true
URxvt*scrollTtyKeypress:  true
URxvt*scrollTtyOutput:    true
URxvt*perl-ext-common:    default,matcher,selection-to-clipboard,-confirm-paste
URxvt*clipboard.autocopy: true
URxvt*keysym.M-c:         perl:clipboard:copy
URxvt*keysym.M-v:         perl:clipboard:paste
URxvt*url-launcher:       firefox --new-tab
URxvt*matcher.button:     C-1
URxvt*urgentOnBell:       true
URxvt*cursorBlink:        true
URxvt*cursorUnderline:    true
URxvt*skipBuiltinGlyphs:  true
URxvt*loginShell:         true
URxvt*termName:           rxvt-unicode-256color
URxvt*secondaryScreen:    true
URxvt*colorUL:            yellow
URxvt*underlineColor:     yellow
URxvt*buffered:           true
URxvt*depth:              24
URxvt*print-pipe:         "cat > /dev/null"

! Add colon to the list of characters used as delimiters when you double click.
URxvt.cutchars:  "\\`\"'&()*,;<=>?@[]^{|}:"

#ifdef SRVR_bnsf
!!!!!!!!!!!!!!!!!!!!
! 4K monitor stuff !
!!!!!!!!!!!!!!!!!!!!

! Set a scalable cursor theme and increase the size
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 48

! Need bigger fonts

! Use multiples of 96 where 96 is generally the default dpi
Xft.dpi: 192

! These settings and values come from fontconfig

! Do autohinting and disregard any existing hinting info (0=off, 1=on)
Xft.autohint: 0

! Enable hinting (0=off, 1=on)
Xft.hinting: 1

! Hint style.  Possible values:
!     hintnone      No hinting (not sure why this is a value)
!     hintslight    Make font fuzzy to line up to the grid while
!                   favoring the font shape.
!     hintmedium    Probably between hintslight and hintfull.
!     hintfull      Favor crisp font aligned to grid at the expense
!                   of font shape.
Xft.hintstyle:  hintfull

! The Cleartype subpixel rendering on LCD monitors.  Possible values:
!     lcddefault    Reduce color fringing on LCD monitors
!     lcdlight      Alternate for fonts that look too bold or fuzzy
!     lcdlegacy     Original Cairo filter
!     lcdnone       Disable
Xft.lcdfilter: lcddefault

! Pixel alignment.  Either rgb, bgr, v-rgb, or v-bgr
! Monitor test:  http://www.lagom.nl/lcd-test/subpixel.php
Xft.rgba: rgb

! Anti-aliasing (0=off, 1=on)
Xft.antialias: 1
#endif

! xosview
xosview*geometry:     287x1019+1623-0
xosview*reverseVideo: true
xosview*usedLabels:   true
xosview*cpuFormat:    all
xosview*interrupts:   true
