! rxvt-unicode customizations
URxvt*background:        black
URxvt*foreground:        white
URxvt*font:              xft:Inconsolata:style=Bold:size=16
URxvt*scrollStyle:       next
URxvt*scrollBar_right:   true
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput:   true
URxvt*perl-ext-common:   default,matcher
URxvt*url-launcher:      firefox
URxvt*matcher.button:    1
URxvt*urgentOnBell:      true
URxvt*cursorBlink:       true
URxvt*cursorUnderline:   true
URxvt*skipBuiltinGlyphs: true
URxvt*loginShell:        true
URxvt*termName:          rxvt-unicode-256color
URxvt*secondaryScreen:   true
URxvt*colorUL:           yellow
URxvt*underlineColor:    yellow
URxvt*buffered:          true

! xlockmore
XLock*mode: qix

!!!!!!!!!!!!!!!!!!!!
! 4K monitor stuff !
!!!!!!!!!!!!!!!!!!!!

! Set a scalable cursor theme and increase the size
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 48

! Need bigger fonts

! Use multiples of 96 where 96 is generally the default dpi
Xft.dpi: 192

! These settings and values come from fontconfig

! Do autohinting and disregard any existing hinting info (0=off, 1=on)
Xft.autohint: 0

! Enable hinting (0=off, 1=on)
Xft.hinting: 1

! Hint style.  Possible values:
!     hintnone      No hinting (not sure why this is a value)
!     hintslight    Make font fuzzy to line up to the grid while
!                   favoring the font shape.
!     hintmedium    Probably between hintslight and hintfull.
!     hintfull      Favor crisp font aligned to grid at the expense
!                   of font shape.
Xft.hintstyle:  hintfull

! The Cleartype subpixel rendering on LCD monitors.  Possible values:
!     lcddefault    Reduce color fringing on LCD monitors
!     lcdlight      Alternate for fonts that look too bold or fuzzy
!     lcdlegacy     Original Cairo filter
!     lcdnone       Disable
Xft.lcdfilter: lcddefault

! Pixel alignment.  Either rgb, bgr, v-rgb, or v-bgr
! Monitor test:  http://www.lagom.nl/lcd-test/subpixel.php
Xft.rgba: rgb

! Anti-aliasing (0=off, 1=on)
Xft.antialias: 1
